[[redirects]]
  from = "/article/*"
  to = "https://9zogdsw6a4.execute-api.us-east-1.amazonaws.com/share/article/:splat"
  status = 200
  force = true
  conditions = { UserAgent = ["*facebookexternalhit*", "*facebot*", "*slackbot*", "*twitterbot*", "*linkedinbot*", "*whatsapp*", "*bot*"] }

[[redirects]]
  from = "/share/article/*"
  to = "https://9zogdsw6a4.execute-api.us-east-1.amazonaws.com/share/article/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
